@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Success";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>Account created successfully!</p>
        <p><a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index">OK</a></p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

